@layer base {
  body,
  html {
    @apply font-sans;
    color: #7b7b7b;
    font-size: 14px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans
  }

  .headline-1 {
    font-size: 40px;
  }
  .headline-2 {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */
    letter-spacing: 0.03em;
    @apply tracking-tight;
    color: #5c5b8c;
    margin-bottom: 20px;
  }
}
